<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
  <li class="recipe">
    <img src="/download.png" alt="smoothie recipe icon">
    <h4>Butter Chicken</h4>
    <p> Chunks of grilled chicken cooked in a smooth buttery </p>
  </li>
</ul>

<%- include('partials/footer'); -%>